.advantages {
    background: $colorBackBlack;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    padding: 103px 0;

    &_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        &_heading {
            text-align: center;
            font-weight: 400;
            font-size: 19.96px;
            line-height: 24px;
            color: $colorTextWhite;
            margin: 28px 0 16px;
        }

        &_text {
            text-align: center;
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            color: $colorTextWhite;
        }
    }
}

.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 0.8s both infinite;
    animation: wobble-hor-bottom 0.8s both infinite;
}